<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/" >Szyfr Cezara</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" (click)="this.navigation.clickOpenVigenerePage()">Szyfr Vigenère'a</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" (click)="this.navigation.clickOpenVigenerePage()" >Link</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container"> 
    <h1>Zadanie 2 - szyfr Vigenère'a</h1>
      <form>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>podaj text</mat-label>
            <input type="text" matInput [(ngModel)]="text" name="text" >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>klucz szyfrowania</mat-label>
            <input type="text" matInput [(ngModel)]="keyNg" name="keyNg" #key="ngModel" pattern="[AĄBCĆDEĘFGHIJKLŁMNŃOÓPRSŚTUWYZŹŻaąbcćdeęfghijklłmnńoóprsśtuwyzźż0123456789]*">
          </mat-form-field>
        </div>
        <div>
          <mat-radio-group [(ngModel)]="method"
                           name="radioButton">
            <mat-radio-button *ngFor="let method of methods" [value]="method" class="mr-3"  >
              {{method}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="my-3">
          <button mat-raised-button color="primary" (click)="codeVigenere(keyNg, text, method)" class="py-2"
                   [disabled]="!(text && keyNg && key.valid )">Wykonaj
          </button>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput placeholder="Wynik przekodowania" >{{this.resultText}}</textarea>
          </mat-form-field>
        </div>
      </form>
  </div>