<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Szyfr Cezara</a>
      </li>
      <li class="nav-item active">
        <a (click)="this.navigation.clickOpenVigenerePage()" class="nav-link">Szyfr Vigenère'a</a>
      </li>
      <li class="nav-item active">
        <a (click)="this.navigation.clickOpenPlayfairPage()" class="nav-link">Szyfr Playfair'a</a>
      </li>
    </ul>
  </div>
</nav>
<div class="mb-3"></div>
<div class="container">
  <h1>Zadanie 3 - szyfr Playfair'a</h1>
  <form>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>podaj text</mat-label>
        <input #text="ngModel" [(ngModel)]="textNg" matInput name="textNg" type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>klucz szyfrowania</mat-label>
        <input #key="ngModel" [(ngModel)]="keyNg" matInput name="keyNg" pattern="[ABCDEFGHIJKLMNOPRSTUVWXYZabcdefghijklmnoprstuvwxyz]*"
               type="text">
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group [(ngModel)]="method"
                       name="radioButton">
        <mat-radio-button *ngFor="let method of methods" [value]="method" class="mr-3">
          {{method}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="my-3">
      <button (click)="codePlayfair(keyNg, textNg, method)" [disabled]="!(textNg && keyNg && key.valid && text.valid )" class="py-2" color="primary"
              mat-raised-button>Wykonaj
      </button>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput placeholder="Wynik przekodowania">{{this.resultText}}</textarea>
      </mat-form-field>
    </div>
  </form>
</div>
